<div class="container-login">
  <div class="container-form">
    <div class="header-form">
      <h2>Iniciar Sesion</h2>
    </div>
    <div class="body-form">
      <form (ngSubmit)="onSubmit()">
        <app-input [labelName]="'Usuario'" [inputName]="'user'"></app-input>
        <app-input
          [labelName]="'Contraseña'"
          [inputName]="'password'"
        ></app-input>
        <button type="submit">Acceder</button>
      </form>
    </div>
  </div>
  <div class="container-detail">
    <span>Hola</span>
  </div>
</div>
